.mybutton:hover {
  cursor: pointer;
}

.containerRowGrid {
  display: "inline-grid";
  grid-column: 2 / span 3;
  align-items: "center";
  padding-bottom: "20px";
  border: "3px solid black";
}

.button {
  background-color: #6f9452;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #6f9452;
}

.button1:hover {
  background-color: #6f9452;
  color: white;
}

.nav:link {
  text-decoration: none;
}

.nav:hover {
  cursor: pointer;
  text-decoration: none;
}

.icon:hover {
  cursor: pointer;
  text-decoration: underline;
}

.libraryGrid {
  display: grid;
  justify-content: space-evenly;
  text-align: center;
  width: 95vw;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  /* border: red 2px solid; */
}

.library {
  margin-bottom: 10px;
}

.library:hover {
  cursor: pointer;
  background-color: lightgray;
}

@media screen and (max-width: 1280px) {
  .libraryGrid {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 960px) {
  .libraryGrid {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 400px) {
  .libraryGrid {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
