.mybutton:hover {
  cursor: pointer;
}

.containerRowGrid {
  display: "inline-grid";
  grid-column: 2 / span 3;
  align-items: "center";
  padding-bottom: "20px";
  border: "3px solid black";
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.button1:hover {
  background-color: #4caf50;
  color: white;
}
