.header {
    /* temp */
    display: flex;
    column-gap: 10px; 
    text-align: center;
    /* temp */
    width: 100vw;
    height: 15vh;
    background-color: #C8DBA3;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    width: 50vw;
    height: 100vh;
    /* temp */
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* temp */
}