.contentContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.leftContainer {
    display: flex;
    flex-flow: column wrap;
}

.rightContainer {
    display: flex;
    flex-flow: column wrap;
}

.inputContainer {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    border: solid 1px black;
}

.suggestionsContainer{
    display: flex;
    width: 40vw;
    height: 40vh;
    border: solid 1px rgba(138, 3, 3, 0.658);
}

.uploadImageContainer{
    display: flex;
    width: 40vw;
    height: 60vh;
    border: solid 1px blue;
}

textarea {
    min-width: 180px;
    min-height: 200px;
    max-width: 95%;
    max-height: 500px;
    resize: none;
}